@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BTNster.Web.Models.Bots.BotsModel>
@{
    Layout = "Views/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Broadcasthe.net <span class="sr-only">(current)</span></a></li>
                <li><a href="#">What.CD</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Bots</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <h1>@Model.TotalBots</h1>
                <h4>Total Bots</h4>
                <span class="text-muted">total bots currently present</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h1>@Model.ActiveBots</h1>
                <h4>Active Bots</h4>
                <span class="text-muted">total bots currently enabled</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h1>@Model.BotsWithErrors</h1>
                <h4>Bots with Errors</h4>
                <span class="text-muted">disconnected due to error</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h1>@Model.BotsConnecting</h1>
                <h4>Bots Connecting</h4>
                <span class="text-muted">bots currently connecting</span>
            </div>
        </div>

        <h2 class="sub-header">Current Bots</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Bot Name</th>
                        <th>Connected</th>
                        <th>Connecting</th>
                        <th>Errors</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BTNster.Web.Models.Bots.Bot bot in Model.Bots)
                    {
                        <tr>
                            <td>@bot.SiteName</td>
                            <td>@bot.IsConnected</td>
                            <td>@bot.IsConnecting</td>
                            <td>
                                @bot.Errors
                                @if (bot.Errors > 0)
                                {
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                }
                            </td>
                            <td>
                                <a class="btn btn-default editFilter" href="/Bots/Edit?BotID=@bot.BotID" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="btn btn-default btn-danger deleteFilter" href="/Bots/Delete?BotID=@bot.BotID" role="button"><span class="glyphicon glyphicon-trash"></span></a>
                                <input class="toggleBot" data-botid="@bot.BotID" type="checkbox" checked data-toggle="toggle" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/scripts/Bots/bots.js"></script>